In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("Data01.csv")
print(df1.shape)    # 자료를 가져올때 shape먼저 확인 (row 개수, col 개수)
df1.head()          # 데이터의 상위 다섯줄만 먼저 확인

(15000, 7)

           날짜    상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
0  2019-05-16   V2_0  8.801047e+12   발주가능   384  세탁세제    72
1  2019-05-16   V2_3  8.801047e+12   발주가능   207  세탁세제     5
2  2019-05-16   V2_7  8.801047e+12   발주가능   520  헤어케어    19
3  2019-05-16  V2_11  8.801047e+12   발주가능     0  세탁세제     5
4  2019-05-16  V2_14  8.801046e+12   발주가능    96  세탁세제     1

In [4]:
df1.info()  # 데이터의 전반적인 정보 및 결측데이터 수, 데이터 타입 및 수 확인, 데이터 용량 등

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      15000 non-null  object
 1   상품명     15000 non-null  object
 2   바코드     14992 non-null  float64
 3   발주가능상태  15000 non-null  object
 4   입고수량    15000 non-null  int64
 5   카테고리    15000 non-null  object
 6   출고수량    15000 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 820.4+ KB

In [5]:
df1.describe()

                바코드          입고수량          출고수량
count  1.499200e+04  15000.000000  15000.000000
mean   1.294839e+13     58.144533      7.205200
std    5.243929e+12    348.398250     19.819656
min    6.414100e+12      0.000000      0.000000
25%    8.801046e+12      0.000000      0.000000
50%    8.801047e+12      0.000000      1.000000
75%    1.880105e+13      0.000000      4.000000
max    2.880105e+13   9777.000000    308.000000

In [7]:
df1['카테고리'].unique()    # 범주형 데이터 항목(중복을 제외하고 종류를 다보여줌)

array(['세탁세제', '헤어케어', '주방세제', 'ST', 'F&B', '덴탈케어', '기타', '매입브랜드'],
      dtype=object)

In [8]:
df1['카테고리'].value_counts()  # 범주형 데이터 항목 개수

세탁세제     4265
덴탈케어     3115
헤어케어     2750
ST       1732
주방세제     1709
F&B      1038
매입브랜드     238
기타        153
Name: 카테고리, dtype: int64

In [9]:
df1['카테고리'].describe()  # 범주형 데이터 요약

count     15000
unique        8
top        세탁세제
freq       4265
Name: 카테고리, dtype: object

In [10]:
df1.head()

           날짜    상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
0  2019-05-16   V2_0  8.801047e+12   발주가능   384  세탁세제    72
1  2019-05-16   V2_3  8.801047e+12   발주가능   207  세탁세제     5
2  2019-05-16   V2_7  8.801047e+12   발주가능   520  헤어케어    19
3  2019-05-16  V2_11  8.801047e+12   발주가능     0  세탁세제     5
4  2019-05-16  V2_14  8.801046e+12   발주가능    96  세탁세제     1

In [14]:
df1.columns.tolist()    # columns의 이름을 리스트로 반환

['날짜', '상품명', '바코드', '발주가능상태', '입고수량', '카테고리', '출고수량']

In [16]:
# 정렬
df1.sort_values(by='입고수량')  # 입고수량 값을 오름차순으로 정렬
df1.sort_values(by='입고수량', ascending=False)  # 입고수량 값을 내림차순으로 정렬

               날짜     상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
3647   2019-06-03   V2_86  1.880105e+13   발주가능  9777  세탁세제   308
9719   2019-07-04   V2_86  1.880105e+13   발주가능  9539  세탁세제   205
13054  2019-07-23   V2_86  1.880105e+13   발주가능  9488  세탁세제   208
14051  2019-07-31   V2_86  1.880100e+13   발주가능  9480  세탁세제   141
14062  2019-07-31  V2_129  8.801050e+12   발주가능  7287  덴탈케어    49
...           ...     ...           ...    ...   ...   ...   ...
6414   2019-06-18  V2_218  8.801046e+12   발주가능     0  헤어케어     1
6415   2019-06-18  V2_222  8.801046e+12     단종     0  세탁세제     0
6416   2019-06-18  V2_227  8.801046e+12   발주가능     0  헤어케어     0
6417   2019-06-18  V2_230  8.801046e+12   발주가능     0  주방세제     1
7500   2019-06-23  V2_287  1.880105e+13   발주가능     0  덴탈케어     0

[15000 rows x 7 columns]

In [17]:
df1.sort_values(by=['입고수량','출고수량']) # 입고수량에 대해서 먼저 정렬 후 출고수량에 대해서 정렬
df1.sort_values(by=['입고수량','출고수량'], ascending=[True,False]) # 입고수량에 대해서 오름차순 후 출고수량에 내림차순 정렬

               날짜     상품명           바코드 발주가능상태  입고수량  카테고리  출고수량
8      2019-05-16   V2_20  8.801046e+12   발주가능     0  주방세제     0
9      2019-05-16   V2_22  8.801047e+12   발주가능     0  세탁세제     0
13     2019-05-16   V2_28  8.801047e+12   발주가능     0  주방세제     0
14     2019-05-16   V2_29  8.801047e+12   발주가능     0  주방세제     0
16     2019-05-16   V2_38  8.801047e+12   발주가능     0  헤어케어     0
...           ...     ...           ...    ...   ...   ...   ...
14062  2019-07-31  V2_129  8.801050e+12   발주가능  7287  덴탈케어    49
14051  2019-07-31   V2_86  1.880100e+13   발주가능  9480  세탁세제   141
13054  2019-07-23   V2_86  1.880105e+13   발주가능  9488  세탁세제   208
9719   2019-07-04   V2_86  1.880105e+13   발주가능  9539  세탁세제   205
3647   2019-06-03   V2_86  1.880105e+13   발주가능  9777  세탁세제   308

[15000 rows x 7 columns]